body {
  font-family: 'Arial', sans-serif;
  background-color: #ece6e4;
  color: #333;
  margin: 0;
  padding: 20px;

}

.newItem-form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}

.form-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn{
  background-color: #21bb42;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger{
  background-color: #e20d0d;
  color: white;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list{
  list-style-type: none;
  gap: 10px;
  padding: 5px ;
}

.form-row input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

